<!-- *stylist -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Urbaca Salon</title>
    </head>
    <body>
        <div class="container">
<!--Header-->
            <div class="page-header">
                <h1>Urbaca Salon</h1>
            </div>
            <h2>Add Client</h2>
            <h3>Stylist: {{ stylist.getName }}</h3>

            <form class="" action="/client/add/{{ stylist.getId }}/submit" method="post">
                <label for="name">Client Name:</label>
                <input type="text" name="name" value="">
                <label for="number">Client Phone Number:</label>
                <input type="number" name="number" value="">
                <button type="submit" name="button">Add Client</button>
            </form>

            <form class="" action="/stylist/{{ stylist.getId }}" method="get">
                <button type="submit">Back</button>
            </form>
        </div>
    </body>
</html>
